<header id="top" class="header">
    <div class="text-vertical-center">
      <ul>
        <div>
          <%= link_to "Sign In", new_user_session_path, :class => "btn btn-dark navbar-btn"%>
        </div>
        <div>
          <%= link_to "Register", new_user_registration_path, :class => "btn btn-dark navbar-btn" %>
        </div>
      </ul>
    </div>
</header>
