<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
  <div class="row text-center">
      <h2>Our Services</h2>
      <hr class="small">
      <div class="row">
          <div class="col-md-6 col-sm-2">
              <div class="service-item">
                  <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-cloud fa-stack-1x text-primary"></i>
              </span>
                  <h4>
                      <strong>Wedding Invitations</strong>
                  </h4>
                  <p>Create your wedding dashbaord and start texting your guests.</p>
                  <a href="#" class="btn btn-light">Learn More</a>
              </div>
          </div>
          <div class="col-md-6 col-sm-2">
              <div class="service-item">
                  <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-compass fa-stack-1x text-primary"></i>
              </span>
                  <h4>
                      <strong>Event Invitations</strong>
                  </h4>
                  <p>Create your event dashbaord and start texting your guests.</p>
                  <a href="#" class="btn btn-light">Learn More</a>
              </div>
          </div>
      </div>
      <!-- /.row (nested) -->
  </div>
  <!-- /.row -->
</section>
