<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <header class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav navbar-left">
          <li> Your Dashboard </li>
        </ul>
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><%= link_to "My Account", edit_user_registration_path, :class => "btn btn-dark navbar-btn" %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "btn btn-dark navbar-btn" %></li>
        <% else %>
            <li><%= link_to "Sign In", new_user_session_path, :class => "btn btn-dark navbar-btn" %></li>
            <li><%= link_to "Register", new_user_registration_path, :class => "btn btn-dark navbar-btn" %></li>
        <% end %>
      </ul>
    </div>
  </header>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createEventModal">Create Event</button>
  <div class="modal fade" id="createEventModal" role="dialog" aria-labelledby="createEventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createEventModalLabel">Start building your Event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form">
            <div class="form-group">
              <label class="radio-inline"><input type="radio" name="eventtype">Wedding</label>
            </div>
            <div class="form-group">
              <input type="text" class="form-control-inline" placeholder="Spouse #1 First name">
              <input type="text" class="form-control-inline" placeholder="Spouse #1 Last name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control-inline" placeholder="Spouse #2 First name">
              <input type="text" class="form-control-inline" placeholder="Spouse #2 Last name">
            </div>
            <div class="form-group">
              <label> Your Wedding day: </label><input type="date" name="bday">
            </div>
          </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>


